<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
        Price: <%= food_data.price%>
    </p>

    <p>
        This food got rating of <%= rating_data[0].rating %> from <%= rating_data[0].people %> customers
    </p>
  </body>
</html>
