<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ol>
        <% Object.keys(store_list).forEach(function(key) { %>
            <li>
                <a href=<%=store_list[key].url%> ><%=store_list[key].name%></a>
            </li>
          
          
        <% }); %>
    </ol>
  </body>
</html>
